{% extends 'UNAMAppBundle::layout.html.twig' %}

{% block content %}
    
    <div class="col-lg-12">
        <div class="page-header ">
            <h2 class="">Cursos</h2>
        </div>  
    
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Nota</th>
                        <th>Es Ingles?</th>
                        <th>Nivel</th>                
                        <th>Precio</th>
                        <th>Acciones</th>                       
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.nombreCurso }}</td>
                        <td>{{ entity.nota }}</td>
                        <td>{{ entity.isIngles }}</td>
                        <td>{{ entity.nivel }}</td>              
                        <td>{{ entity.precio }}</td>
                        <td>
                           <a class="btn btn-primary" href="{{ path('cursos_show', { 'id': entity.id }) }}">Ver</a>                               
                           <a class="btn btn-info" href="{{ path('cursos_edit', { 'id': entity.id }) }}">Editar</a>
                           
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                
            </table>
        </div>

    <table class="records_list">
        
       
    </table>

       
        
            <a class="btn btn-success" href="{{ path('cursos_new') }}">
                Agregar Nuevo
            </a>
        
    
                
     </div>           
    {% endblock %}
