{% extends "base.html.twig"%}


{% set route = app.request.get('_route') %}

  {% set homepage = "" %}  
  {% set alumnos = "" %}
  {% set cursos = "" %}
  {% set grupos = "" %}   
  {% set maestros = "" %}
  {% set niveles = "" %}
  {% set pagos = "" %}   
  {% set precios = "" %}
  {% set usuarios = "" %}
  {% set configuraciones = "" %}
  
  {% set abierto = "class=active" %}
  
  {% if route == "homepage" %}
    {% set homepage = abierto %}
  {% elseif route == "alumnos" %}
    {% set alumnos = abierto %}
  {% elseif route == "cursos" %}
    {% set cursos = abierto %}
  {% elseif route == "grupos" %}
    {% set grupos = abierto %}
  {% elseif route == "maestros" %}
    {% set maestros = abierto %}
  {% elseif route == "niveles" %}
    {% set niveles = abierto %}
  {% elseif route == "pagos" %}
    {% set pagos = abierto %}
  {% elseif route == "precios" %}
    {% set precios = abierto %}
  {% elseif route == "usuarios" %}
    {% set usuarios = abierto %}
  {% elseif route == "configuracion" %}
    {% set configuracion = abierto %}
  {% endif %}

{% block body %}


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>Cursos UNAM</span>Admin</a>
                <ul class="user-menu">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> {{app.user.nombre|default('anonimo')}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <!--li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Perfil</a></li-->
                            <li><a href="{{path('logout')}}"><svg class="glyph stroked lock"><use xlink:href="#stroked-lock"/></svg> Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div><!-- /.container-fluid -->
    </nav>

    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <!--form role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form-->
        <div class="text-center">
            <img src="{{asset('bundles/unamapp/images/logo.png')}}" alt="logo" style="max-height: 120px;"/>
        </div>
        <ul class="nav menu">
            <li role="presentation" class="divider" style="margin-top: 0px;"></li>
            <li {{homepage}}><a href="{{path('homepage')}}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg>Administrador</a></li>
            <li ><a href="{{path('graficas')}}"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg>Gráficas</a></li>
            <!--li><a href="#"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg>Impresiones</a></li-->
            <li role="presentation" class="divider"></li>
            <li {{alumnos}}><a href="{{path('alumnos')}}"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg>Alumnos</a></li>
            <!--li><a href="busquedas.html"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg>Búsquedas</a></li-->
            <!--li><a href="registros.html"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg>Registros</a></li-->
            <li {{cursos}}><a href="{{path('cursos')}}"><svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg> Cursos</a></li>
            <li {{maestros}}><a href="{{path('maestros')}}"><svg class="glyph stroked female user"><use xlink:href="#stroked-female-user"/></svg>Maestros</a></li>
            <li {{grupos}}><a href="{{path('grupos')}}"><svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg> Grupos</a></li>
            <li {{niveles}}><a href="{{path('niveles')}}"><svg class="glyph stroked upload"><use xlink:href="#stroked-upload"/></svg> Niveles</a></li>
            <li {{pagos}}><a href="{{path('pagos')}}"><svg class="glyph stroked app window with content"><use xlink:href="#stroked-app-window-with-content"/></svg> Pagos</a></li>
            <li {{precios}}><a href="{{path('precios')}}"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Precios</a></li>
            <li {{usuarios}}><a href="{{path('usuarios')}}"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg> Usuarios</a></li>
            <li role="presentation" class="divider"></li>
            <!--li><a href="{{path('logout')}}"><svg class="glyph stroked lock"><use xlink:href="#stroked-lock"/></svg> Cerrar Sesión</a></li-->
        </ul>

    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
        <div class="row">
        	{% block navegacion %}
            <ol class="breadcrumb">
				<li><a href="{{path('homepage')}}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
			</ol>
            {% endblock %}
        </div><!--/.row-->

        <div class="row">
            {% block content %}{% endblock %}   
    	</div><!--/ row main -->


	</div> <!--/.main 1-->
</div>	<!--/.main-->

{% endblock %}