<?xml version="1.0" encoding="UTF-8"?>
<pdf>
    <dynamic-page>
        <placeholders>
            <header height="20px">
                <div position="absolute" top="10px" left="10px" height="20px">
                    Referencia: {{usuario.folioDePago}}
                </div>
                <div text-align="right" height="20px">
                    <page-info format="Página %s de %s" />
                </div>
            </header>
            <footer height="50px">
                <div height="50px" width="100%" text-align="center">
                    <hr/>
                    Mosaico Real Estate Management | Los Cormoran 102, Lomas de las Águilas, Álvaro Obregón C.P. 01730, México DF | Tel. 63-78-99-05
                </div>
            </footer>
            <watermark>
                <div rotate="diagonally" alpha="0.1" font-size="44px" text-align="center">www.mosaicors.com</div>
            </watermark>
        </placeholders>
        <div text-align="left" height="auto">
            <img src="{{ pdf_image('FrontendBundle:logo.png') }}" height="150px" />
        </div>
        <h1>
            Estado de cuenta - {{usuario.nombre}}
        </h1>
        <h2>{{usuario.edificio.residencial}} - {{usuario.edificio}} - {{usuario.numero}}</h2>
        <div color="gray" text-align="right" font-size="14px">{{nombreMes|capitalize}} de {{year}}</div>
        <hr/>
        <br/>
        <h2>Detalles de movimientos</h2>
        <table font-size="14px">
            <stylesheet>
                <complex-attribute name="border" size="0"/>
            </stylesheet>
            <tr>
            <stylesheet>
                <attribute name="color" value="white"/>
                <attribute name="text-align" value="center"/>
                <attribute name="padding" value="10px"/>
                <complex-attribute name="background" color="gray" />
            </stylesheet>
            <td padding="5px">Fecha</td>
            <td padding="5px">Movimiento</td>
            <td padding="5px">Monto</td>
            </tr>
            {% set monto = 0 %}    
            {% for entity in cargos %}
                <tr>
                    <td width="120px" text-align="center" padding="10px">{{ entity.createdAt|date('d-m-Y') }}</td>
                    <td padding="10px">
                        <div class="tipo-cargo" color="gray" font-style="italic">{{ entity.stringTipoCargo }}</div>
                        <div class="descripcion-cargo">{{ entity.cargo }}</div>
                    </td>
                    <td width="120px" text-align="center" padding="10px">$ {{ entity.monto | number_format(2,".",",") }}</td>
                </tr>
                {% set monto = monto + entity.monto %}
            {% endfor %}
            <tr>
            <stylesheet>
                <attribute name="color" value="white"/>
                <attribute name="text-align" value="center"/>
                <complex-attribute name="background" color="gray" />
            </stylesheet>
            <td padding="5px"></td>
            <td padding="5px">Total: </td>
            <td padding="5px">$ {{monto|number_format(2,".",",")}}</td>
            </tr>
        </table>
    </dynamic-page>
</pdf>