{% extends 'UNAMAppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}    


{% block navegacion %}
    <ol class="breadcrumb">
        <li><a href="{{path('homepage')}}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
    </ol>
{% endblock %}

{% block content %}

    <div class="col-lg-12">
        <div class="page-header ">
            <h2 class="">Administrador</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-blue panel-widget ">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                            <svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg>
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="large">{{ registros.cursos | length }}</div>
                            <div class="text-muted">Cursos</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-orange panel-widget">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                            <svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg>
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="large">{{ registros.grupos | length  }}</div>
                            <div class="text-muted">Grupos</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-teal panel-widget">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                            <svg class="glyph stroked female user"><use xlink:href="#stroked-female-user"/></svg>
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="large">{{ registros.maestros | length}}</div>
                            <div class="text-muted">Maestros</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-red panel-widget">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                            <svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg>
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="large">{{ registros.alumnos | length }}</div>
                            <div class="text-muted">Alumnos</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><svg class="glyph stroked download"><use xlink:href="#stroked-download"/></svg>Reportes</div>
                    <div class="panel-body">
                        <form id="formReportes" class="form-horizontal" action="" method="post">
                            <fieldset>
                                <!-- Reporte input-->
                                <div class="form-group" id="reporteSeleccionado">
                                    <label class="col-md-3 control-label" for="name">Reporte</label>
                                    <div class="col-md-9">
                                        <select id="reporte" class="form-control">
                                            <option value="">Seleccionar tipo</option>
                                            <option value="Curso">Curso</option>
                                            <option value="Grupo">Grupo</option>
                                            <option value="Maestro">Maestro</option>
                                            <option value="Alumno">Alumno</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Curso input-->
                                <div class="form-group" id="cursoSeleccionado">
                                    <label class="col-md-3 control-label" for="curso">Curso</label>
                                    <div class="col-md-9">
                                        <select id="cursoId" name="cursoId" class="form-control">
                                            {% for curso in registros.cursos %}
                                                <option value="{{curso.id}}">{{curso.nombreCursoCompleto}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <!-- Grupo input-->
                                <div class="form-group" id="grupoSeleccionado">
                                    <label class="col-md-3 control-label" for="grupo">Grupo</label>
                                    <div class="col-md-9">
                                        <select id="grupo" name="grupoId" class="form-control">
                                            {% for grupo in registros.grupos %}
                                                <option value="{{grupo.id}}">{{grupo}} - {{grupo.curso}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <!-- Maestro input-->
                                <div class="form-group" id="maestroSeleccionado">
                                    <label class="col-md-3 control-label" for="maestro">Maestro</label>
                                    <div class="col-md-9">
                                        <select id="maestroId" name="maestroId" class="form-control">
                                            {% for maestro in registros.maestros %}
                                                <option value="{{maestro.id}}">{{maestro.nombreCompleto}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <!-- Alumno input-->
                                <div class="form-group" id="alumnoSeleccionado">
                                    <label class="col-md-3 control-label" for="alumno">Alumno</label>
                                    <div class="col-md-9">
                                        <select id="alumnoId" name="alumnoId" class="form-control">
                                            {% for alumno in registros.alumnos %}
                                                <option value="{{alumno.id}}">{{alumno.identificacion}} - {{alumno.nombreCompleto}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>        

                                <!-- year input-->
                                <div class="form-group" id="yearSeleccionado">
                                    <label class="col-md-3 control-label" for="year">Año</label>
                                    <div class="col-md-9">
                                        <select id="year" name="year" class="form-control">
                                            {% for year in range(2014, 2020, 1) %}
                                                <option value="{{year}}">{{year}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>        

                                <!-- Form actions -->
                                <div class="form-group">
                                    <div class="col-md-12 widget-right">
                                        <button id="enviarReporte" type="button" class="btn btn-default btn-md pull-right">Realizar reporte</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>



            </div><!--/.col-->

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><svg class="glyph stroked download"><use xlink:href="#stroked-download"/></svg>Constancias</div>
                    <div class="panel-body">
                        <form id="formConstancias" class="form-horizontal" action="" method="post">
                            <input type="hidden" value="pdf" name="_format"/>
                            <fieldset>
                                <!-- Reporte input-->
                                <div class="form-group" id="tipoConstancia">
                                    <label class="col-md-3 control-label" for="constancias">Tipo</label>
                                    <div class="col-md-9">
                                        <select id="constancias" class="form-control">
                                            <option value="">Seleccionar tipo</option>
                                            <option value="constancia_alumno">Constancia por Alumno</option>
                                            <option value="constancia_maestro">Constancia por Maestro</option>
                                            <option value="diploma_alumno">Diploma por Alumno</option>
                                            <option value="diploma_grupo">Diploma por Grupo</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Alumno de tomo el curso input-->
                                <div class="form-group" id="alumnoConstancia">
                                    <label class="col-md-3 control-label" for="alumnoId_constancia">Alumno</label>
                                    <div class="col-md-9">
                                        <select id="alumnoId_constancia" name="alumnoId" class="form-control">
                                            <option value="">Seleccionar alumno</option>
                                            {% for alumno in registros.alumnos %}
                                                <option value="{{alumno.id}}">{{alumno.identificacion}} - {{alumno.nombreCompleto}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <!-- Grupo y Curso input-->
                                <div class="form-group" id="grupoConstancia">
                                    <label class="col-md-3 control-label" for="grupoId_constancia">Curso</label>
                                    <div class="col-md-9">
                                        <select id="grupoId_constancia" name="grupoId" class="form-control">
                                            <option value="">Seleccionar grupo</option>
                                            {% for grupo in registros.grupos %}
                                                <option value="{{grupo.id}}">{{grupo}} - {{grupo.curso}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <!-- Grupo y Curso input-->
                                <div class="form-group" id="maestroConstancia">
                                    <label class="col-md-3 control-label" for="maestroId_constancia">Maestro</label>
                                    <div class="col-md-9">
                                        <select id="maestroId_constancia" name="maestroId" class="form-control">
                                            <option value="">Seleccionar maestro</option>
                                            {% for maestro in registros.maestros %}
                                                <option value="{{maestro.id}}">{{maestro.nombreCompleto}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" id="cursoConstancia">
                                    <label class="col-md-3 control-label" for="cursoId_constancia">Curso</label>
                                    <div class="col-md-9">
                                        <select id="cursoId_constancia" name="cursoId" class="form-control">

                                        </select>
                                    </div>        
                                </div>       

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="nombre_constancia">A:</label>
                                    <div class="col-md-9">
                                        <input id="nombre_constancia" name="nombre" class="form-control" placeholder="Ingresa el nombre correcto" value=""/>
                                    </div>
                                </div>
                                        
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="message_constancia">Texto</label>
                                    <div class="col-md-9">
                                        <textarea id="texto_constancia" name="texto"  placeholder="Ingresa el texto a mostrar" class="form-control tinymce" rows="3"></textarea>
                                    </div>
                                </div>        
                                        
                                <!-- Form actions -->
                                <div class="form-group">
                                    <div class="col-md-12 widget-right">
                                        <button id="enviarConstancia" type="button" class="btn btn-default btn-md pull-right">Ejecutar pdf</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>



            </div><!--/.col-->

            <!--/.col-->
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"/></svg>Asignaciones de alumnos a grupos</div>
                    <div class="panel-body">
                        <form id="formAsignaciones" class="form-horizontal" action="" method="post">
                            <fieldset>
                                
                                <!-- Alumno input-->
                                <div class="form-group" id="alumnoAsignado">
                                    <label class="col-md-3 control-label" for="alumnoId_constancia">Alumno</label>
                                    <div class="col-md-9">
                                        <select id="alumnoId_asignado" name="alumnoId" class="form-control">
                                            <option value="">Seleccionar alumno</option>
                                            {% for alumno in registros.alumnos %}
                                                <option value="{{alumno.id}}">{{alumno.identificacion}} - {{alumno.nombreCompleto}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                        
                                <!-- Nivel input-->
                                <div class="form-group" id="nivelAsignado">
                                    <label class="col-md-3 control-label" for="nivelId_asignado">Nivel</label>
                                    <div class="col-md-9">
                                        <select id="nivelId_asignado" name="nivelId" class="form-control"></select>
                                    </div>
                                </div>
                                
                                <!-- Horario input-->
                                <div class="form-group" id="horarioAsignado">
                                    <label class="col-md-3 control-label" for="horarioId_asignado">Horario</label>
                                    <div class="col-md-9">
                                        <select id="horarioId_asignado" name="horarioId" class="form-control">
                                        </select>
                                    </div>
                                </div>
                                
                                <!-- Curso iput-->
                                <div class="form-group" id="cursoAsignado">
                                    <label class="col-md-3 control-label" for="cursoId_asignado">Curso</label>
                                    <div class="col-md-9">
                                        <select id="cursoId_asignado" name="cursoId" class="form-control">
                                        </select>
                                    </div>
                                </div>
                                
                                <!-- Grupo input-->
                                <div class="form-group" id="grupoAsignado">
                                    <label class="col-md-3 control-label" for="grupo_asignado">Grupo</label>
                                    <div class="col-md-9">
                                        <select id="grupoId_asignado" name="grupoId" class="form-control">
                                        </select>
                                    </div>
                                </div>

                                <!-- Form actions -->
                                <div class="form-group">
                                    <div class="col-md-12 widget-right">
                                        <button id="enviarAsignacion" type="button" class="btn btn-default btn-md pull-right">Realizar asignacion a grupo</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>



            </div><!--/.col-->

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><svg class="glyph stroked clock"><use xlink:href="#stroked-clock"/></svg>Avisos de cambio de horario</div>
                    <div class="panel-body">
                        <form id="formCambioHorario" class="form-horizontal" action="" method="post">
                            <fieldset>
                                <!-- Grupo y Curso input-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="grupoId_cambiohorario">Grupo</label>
                                    <div class="col-md-9">
                                        <select id="grupoId_cambiohorario" name="grupoId" class="form-control">
                                            <option value="">Seleccionar grupo</option>
                                            {% for grupo in registros.grupos %}
                                                <option value="{{grupo.id}}">{{grupo}} - {{grupo.curso}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="maestro_cambiohorario">Maestro</label>
                                    <div class="col-md-9">
                                        <input id="maestro_cambiohorario" name="maestro" class="form-control" value="" readonly="true"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="curso_cambiohorario">Curso</label>
                                    <div class="col-md-9">
                                        <input id="curso_cambiohorario" name="curso" class="form-control" value="" readonly="true"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="horario_cambiohorario">Horario</label>
                                    <div class="col-md-9">
                                        <input id="horario_cambiohorario" name="horario" class="form-control" value="" readonly="true"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="nuevo_horario_cambiohorario">Nuevo horario de clase</label>
                                    <div class="col-md-9">
                                        <select id="nuevo_horario_cambiohorario" name="nuevo_horario" class="form-control" placeholder="Hoario" data-bind="value: horario"><option value="07:00:00">07:00 am</option><option disabled="disabled">-------------------</option><option value="07:30:00">07:30 am</option><option value="08:00:00">08:00 am</option><option value="08:30:00">08:30 am</option><option value="09:00:00">09:00 am</option><option value="09:30:00">09:30 am</option><option value="10:00:00">10:00 am</option><option value="10:30:00">10:30 am</option><option value="11:00:00">11:00 am</option><option value="11:30:00">11:30 am</option><option value="12:00:00">12:00 am</option><option value="12:30:00">12:30 am</option><option value="13:00:00">01:00 pm</option><option value="13:30:00">01:30 pm</option><option value="14:00:00">02:00 pm</option><option value="14:30:00">02:30 pm</option><option value="15:00:00">03:00 pm</option><option value="15:30:00">03:30 pm</option><option value="16:00:00">04:00 pm</option><option value="16:30:00">04:30 pm</option><option value="17:00:00">05:00 pm</option><option value="17:30:00">05:30 pm</option><option value="18:00:00">06:00 pm</option><option value="18:30:00">06:30 pm</option><option value="19:00:00">07:00 pm</option><option value="19:30:00">07:30 pm</option><option value="20:00:00">08:00 pm</option><option value="20:30:00">08:30 pm</option><option value="21:00:00">09:00 pm</option><option value="21:30:00">09:30 pm</option><option value="22:00:00">10:00 pm</option></select>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="message_cambiohorario">Correo al grupo</label>
                                    <div class="col-md-9">
                                        <textarea id="message_cambiohorario" name="message" class="form-control tinymce" rows="3"></textarea>
                                    </div>
                                </div>        
                                <!-- Form actions -->
                                <div class="form-group">
                                    <div class="col-md-12 widget-right">
                                        <button id="enviarCambioHorario" type="button" class="btn btn-default btn-md pull-right">Enviar cambio horario</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>



            </div><!--/.col-->

            <!--/.col-->
        </div>
    </div>
                                        
                                            
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ tinymce_init() }}
    <script>
        var gruposJson = [
        {% for grupo in registros.grupos %}
            {
                    'id':{{grupo.id}},
                    'nombre': '{{grupo}}',
                    'curso': {
                        'id':{{grupo.curso.id}},
                        'nombre': '{{grupo.curso.nombreCursoCompleto}}',
                        'observacion': '{{grupo.curso.nota}}'
                    },
                    'maestro': {
                        'id':{{grupo.maestro.id}},
                        'nombre': '{{grupo.maestro.nombreCompleto}}'
                    },
                    'horario': '{{grupo.horario}}',
                    'nivel': {
                        'id': {{grupo.curso.nivel.id}},
                        'isIngles': {% if  grupo.curso.nivel.isIngles %} true {% else %} false {% endif %},
                        'nivel': '{{grupo.curso.nivel}}'
                    }
             }       
            {% if loop.index != loop.last %} , {% endif %}
        {% endfor %}
        ];
        (function(){
                    $("#cursoSeleccionado,#grupoSeleccionado,#maestroSeleccionado,#alumnoSeleccionado,#yearSeleccionado").hide();
                    $("#alumnoConstancia, #grupoConstancia, #cursoConstancia, #maestroConstancia").hide();
                    $("#reporte").on('change', function(){
                        $("#cursoSeleccionado,#grupoSeleccionado,#maestroSeleccionado,#alumnoSeleccionado,#yearSeleccionado").hide();
                        var valor = $(this).val();
                        if (valor == ""){
                            $("#formReportes").attr({'action':'', 'method':'GET'});
                        } else if (valor == "Curso"){
                            $("#cursoSeleccionado,#yearSeleccionado").fadeIn('fast');
                            $("#formReportes").attr({'action':'{{path('reporte_por_curso')}}', 'method':'GET'});
                        } else if (valor == "Grupo"){
                            $("#grupoSeleccionado,#yearSeleccionado").fadeIn('fast');
                            $("#formReportes").attr({'action':'{{path('reporte_por_grupo')}}', 'method':'GET'});
                        } else if (valor == "Maestro"){
                            $("#maestroSeleccionado,#yearSeleccionado").fadeIn('fast');
                            $("#formReportes").attr({'action':'{{path('reporte_por_maestro')}}', 'method':'GET'});
                        } else if (valor == "Alumno"){
                            $("#alumnoSeleccionado").fadeIn('fast');
                            $("#formReportes").attr({'action':'{{path('reporte_por_alumno')}}', 'method':'GET'});
                        }
                    });
                    $("#enviarReporte").on('click', function(){
                        $("#formReportes").submit();
                    });
                    
                    $("#constancias").on('change', function(){
                        $("#alumnoConstancia, #grupoConstancia, #cursoConstancia, #maestroConstancia").hide();
                        var valor = $(this).val();
                        if (valor == ""){

                        } else if (valor == "constancia_alumno"){
                            $("#alumnoConstancia, #cursoConstancia").fadeIn('fast');
                            $("#alumnoId_constancia").val("");
                            $("#cursoId_constancia").empty();
                            $("#formConstancias").attr({'action':'{{path('constancia_por_alumno')}}', 'method':'GET'});
                        } else if (valor == "diploma_alumno"){
                            $("#alumnoConstancia, #cursoConstancia").fadeIn('fast');
                            $("#alumnoId_constancia").val("");
                            $("#cursoId_constancia").empty();
                            $("#formConstancias").attr({'action':'{{path('diploma_por_alumno')}}', 'method':'GET'});
                        } else if (valor == "diploma_grupo"){
                            $("#grupoConstancia, #cursoConstancia").fadeIn('fast');
                            $("#grupoId_constancia").val("");
                            $("#cursoId_constancia").empty();
                            $("#formConstancias").attr({'action':'{{path('diplomas_por_grupo')}}', 'method':'GET'});
                        } else if (valor == "constancia_maestro"){
                            $("#maestroConstancia, #cursoConstancia").fadeIn('fast');
                            $("#maestroId_constancia").val("");
                            $("#cursoId_constancia").empty();
                            $("#formConstancias").attr({'action':'{{path('constancia_por_maestro')}}', 'method':'GET'});
                        }
                        
                    });
                    $("#alumnoId_constancia").on('change', function(){
                        var $curso = $('#cursoId_constancia');
                        $curso.empty();
                        var url = '{{path('cursos_alumno')}}';
                        var params = "?alumnoId=" + $(this).val();
                        
                        $.ajax({
                            'url': url + params,
                            'type': 'GET',
                            'success': function(data){
                                if (data.status == 'Ok'){
                                var grupos = data.grupos;
                                    for (var cont = 0; grupos.length > cont; cont++){
                                        var option = $("<option>");
                                        option.val(grupos[cont].id)
                                              .html(grupos[cont].nombre);
                                        $curso.append(option);
                                    }
                                    $("#cursoConstancia").fadeIn('fast');
                                }
                            },
                            'error': function(err){
                                console.log(err);
                                alert("Error en constancia por alumno");
                            }
                        });
                    });
                    
                    $("#maestroId_constancia").on('change', function(){
                        var maestroId = parseInt($(this).val());
                        var $curso = $('#cursoId_constancia');
                        $curso.empty();
                        var option = $("<option>");
                        option.val("")
                              .html("Seleccionar curso");
                        $curso.append(option);
                        
                        if(maestroId > 0){
                            for (var cont = 0; gruposJson.length > cont; cont++){
                                var grupo = gruposJson[cont];
                                if (grupo.maestro.id == maestroId){
                                    var option = $("<option>");
                                        option.val(grupo.curso.id)
                                              .html(grupo.curso.nombre);
                                        $curso.append(option);
                                    
                                }
                            }
                        }
                    });
                    
                    $("#grupoId_constancia").on('change', function(){
                        var grupoId = parseInt($(this).val());
                        var $curso = $('#cursoId_constancia');
                        $curso.empty();
                        var option = $("<option>");
                        option.val("")
                              .html("Seleccionar curso");
                        $curso.append(option);
                        if(grupoId > 0){
                            for (var cont = 0; gruposJson.length > cont; cont++){
                                var grupo = gruposJson[cont];
                                if (grupo.id == grupoId){
                                    var option = $("<option>");
                                        option.val(grupo.curso.id)
                                              .html(grupo.curso.nombre);
                                        $curso.append(option);
                                }
                            }
                        }
                    });
                    
                    $("#cursoId_constancia").on('change', function(){
                        var cursoId= parseInt($(this).val());
                        var $texto = $("#texto_constancia");
                        for (var cont = 0; gruposJson.length > cont; cont++){
                            var grupo = gruposJson[cont];
                            if (grupo.curso.id == cursoId){
                                $texto.val('');
                            }
                        }
                        
                    });
                    
                    
                    
                    $("#enviarConstancia").on('click', function(){
                        $("#formConstancias").submit();
                    });
                    
                    $("#alumnoId_asignado").on('change', function(){
                        $("#horarioAsignado, #cursoAsignado, #grupoAsignado").hide();
                        var $nivel = $("#nivelId_asignado");
                        $nivel.empty();
                        var niveles = [];
                        debugger;
                        for (var cont = 0; gruposJson.length > cont; cont++){
                            var grupo = gruposJson[cont];
                            var encontrado = false;
                            for(var cont2=0; niveles.length > cont2; cont2++){
                                if(niveles[cont2].id == grupo.nivel.id){
                                    encontrado = true;
                                    break;
                                }
                            }
                            if(!encontrado)
                                niveles.push(grupo.nivel);
                        }
                        var option = $("<option>");
                        option.val("")
                              .html("Seleccionar nivel");
                        $nivel.append(option);
                        for (var cont = 0; niveles.length > cont; cont++){
                            var option = $("<option>");
                            option.val(niveles[cont].id)
                                  .html(niveles[cont].nivel);
                            $nivel.append(option);
                        }
                    });
                    
                    $("#nivelId_asignado").on('change', function(){
                        $("#cursoAsignado, #grupoAsignado").hide();
                        $("#horarioAsignado").fadeIn('fast');
                        var $horario = $("#horarioId_asignado");
                        $horario.empty();
                        var nivelId = parseInt($(this).val());
                        if(nivelId > 0){
                            var horarios = [];
                            for (var cont = 0; gruposJson.length > cont; cont++){
                                var grupo = gruposJson[cont];
                                if (grupo.nivel.id == nivelId){
                                    var encontrado = false;
                                    for(var cont2=0; horarios.length > cont2; cont2++){
                                        if(horarios[cont2] == grupo.horario){
                                            encontrado = true;
                                            break;
                                        }
                                    }
                                    if(!encontrado)
                                        horarios.push(grupo.horario);
                                }
                            }
                            var option = $("<option>");
                            option.val("")
                                  .html("Seleccionar horario");
                            $horario.append(option);
                            for (var cont = 0; horarios.length > cont; cont++){
                                var option = $("<option>");
                                option.val(horarios[cont])
                                      .html(horarios[cont]);
                                $horario.append(option);
                            }
                        }
                    });
                    
                    
                    $("#horarioId_asignado").on('change', function(){
                        $("#grupoAsignado").hide();
                        $("#cursoAsignado").fadeIn('fast');
                        var horario = $("#horarioId_asignado").val();
                        var nivelId = parseInt($("#nivelId_asignado").val());
                        var $curso = $("#cursoId_asignado");
                        $curso.empty();
                        var cursos = [];
                        for (var cont = 0; gruposJson.length > cont; cont++){
                            var grupo = gruposJson[cont];
                            if (grupo.nivel.id == nivelId && grupo.horario == horario){
                                var encontrado = false;
                                for(var cont2=0; cursos.length > cont2; cont2++){
                                    if(cursos[cont2].id == grupo.curso.id){
                                        encontrado = true;
                                        break;
                                    }
                                }
                                if(!encontrado)
                                    cursos.push(grupo.curso);
                            }
                        }
                        var option = $("<option>");
                        option.val("")
                              .html("Seleccionar curso");
                        $curso.append(option);
                        for (var cont = 0; cursos.length > cont; cont++){
                            var option = $("<option>");
                            option.val(cursos[cont].id)
                                  .html(cursos[cont].nombre);
                            $curso.append(option);
                        }
                    });
                    
                    $("#cursoId_asignado").on('change', function(){
                        $("#grupoAsignado").fadeIn('fast');
                        var $grupo = $("#grupoId_asignado");
                        var cursoId = parseInt($(this).val());
                        $grupo.empty();
                        var grupos = [];
                        for (var cont = 0; gruposJson.length > cont; cont++){
                            var grupo = gruposJson[cont];
                            if (grupo.curso.id == cursoId){
                                var encontrado = false;
                                for(var cont2=0; grupos.length > cont2; cont2++){
                                    if(grupos[cont2].id == grupo.id){
                                        encontrado = true;
                                        break;
                                    }
                                }
                                if(!encontrado)
                                    grupos.push(grupo);
                            }
                        }
                        var option = $("<option>");
                        option.val("")
                              .html("Seleccionar grupo");
                        $grupo.append(option);
                        for (var cont = 0; grupos.length > cont; cont++){
                            var option = $("<option>");
                            option.val(grupos[cont].id)
                                  .html(grupos[cont].nombre);
                            $grupo.append(option);
                        }
                    });
                    
                    $("#enviarAsignacion").on('click', function(){
                        var url = '{{path('asingacion_grupo_alumno')}}';
                        var data = $("#formAsignaciones").serialize();
                        var alumnoId = $("#alumnoId_asignado").val();
                        $.ajax({
                            'url': url,
                            'type':'POST',
                            'data': data,
                            'dataType': 'json',
                            'success': function(data){
                                console.log(data);
                                if (data.status == 'Ok'){
                                    alert("Se ha realizado la asignacion al grupo y curso");
                                }else if(data.status == 'Asignado'){
                                    alert("El alumno ya se habia asignado al grupo y curso");
                                }
                            },
                            'error': function(err){
                                alert("Error al enviar formulario");
                                console.log(err)
                            }
                        });
                    });
                    
                    
                    $("#grupoId_cambiohorario").on('change', function(){
                        var $maestro = $("#maestro_cambiohorario");
                        var $curso = $("#curso_cambiohorario");
                        var $horario = $("#horario_cambiohorario");
                        var $nuevoHorario = $("#nuevo_horario_cambiohorario");
                        var $message = $("#message_cambiohorario");
                        $maestro.val("");
                        $curso.val("");
                        $horario.val("07:00:00");
                        $nuevoHorario.val("");
                        $message.val("");
                        var grupoId = $(this).val();
                        for (var cont = 0; gruposJson.length > cont; cont++){
                            var grupo = gruposJson[cont];
                            if (grupo.id == grupoId){
                                $maestro.val(grupo.maestro.nombre);
                                $curso.val(grupo.curso.nombre);
                                $horario.val(grupo.horario);
                                $nuevoHorario.val(grupo.horario);
                            }
                        }
                    });
                    
                    $("#enviarCambioHorario").on('click', function(){
                        var url = '{{path('cambio_horario')}}';
                        var data = $("#formCambioHorario").serialize();
                        $.ajax({
                            'url': url,
                            'type':'POST',
                            'data': data,
                            'dataType': 'json',
                            'success': function(data){
                                console.log(data);
                                if (data.status == 'Ok'){
                                    alert("Se ha enviado el mensaje a los alumnos del grupo, alumnos: " + data.alumnosCount);
                                    $("#grupoId_cambiohorario").val("");
                                }
                            },
                            'error': function(err){
                                alert("Error al enviar formulario");
                                console.log(err)
                            }
                        });
                    });
                    
                    $("#alumnoId_asignado").change();
        })();    
    </script>
{% endblock %}    