{% extends 'UNAMAppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}    


{% block navegacion %}
    <ol class="breadcrumb">
        <li><a href="{{path('homepage')}}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
    </ol>
{% endblock %}

{% block content %}

    <div class="col-lg-12">
        <div class="page-header ">
            <h2 class="">Administrador</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-blue panel-widget ">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                            <svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg>
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="large">{{ registros.cursos | length }}</div>
                            <div class="text-muted">Cursos</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-orange panel-widget">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                            <svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg>
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="large">{{ registros.grupos | length  }}</div>
                            <div class="text-muted">Grupos</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-teal panel-widget">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                            <svg class="glyph stroked female user"><use xlink:href="#stroked-female-user"/></svg>
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="large">{{ registros.maestros | length}}</div>
                            <div class="text-muted">Maestros</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-red panel-widget">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                            <svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg>
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="large">{{ registros.alumnos | length }}</div>
                            <div class="text-muted">Alumnos</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><svg class="glyph stroked download"><use xlink:href="#stroked-download"/></svg>Reportes</div>
                    <div class="panel-body">
                        <form id="formReportes" class="form-horizontal" action="" method="post">
                            <fieldset>
                                <!-- Reporte input-->
                                <div class="form-group" id="reporteSeleccionado">
                                    <label class="col-md-3 control-label" for="name">Reporte</label>
                                    <div class="col-md-9">
                                        <select id="reporte" class="form-control">
                                            <option value="">Seleccionar tipo</option>
                                            <option value="Curso">Curso</option>
                                            <option value="Grupo">Grupo</option>
                                            <option value="Maestro">Maestro</option>
                                            <option value="Alumno">Alumno</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <!-- Curso input-->
                                <div class="form-group" id="cursoSeleccionado">
                                    <label class="col-md-3 control-label" for="curso">Curso</label>
                                    <div class="col-md-9">
                                        <select id="cursoId" name="cursoId" class="form-control">
                                            {% for curso in registros.cursos %}
                                            <option value="{{curso.id}}">{{curso.nombreCursoCompleto}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                
                                <!-- Grupo input-->
                                <div class="form-group" id="grupoSeleccionado">
                                    <label class="col-md-3 control-label" for="grupo">Grupo</label>
                                    <div class="col-md-9">
                                        <select id="grupo" name="grupoId" class="form-control">
                                            {% for grupo in registros.grupos %}
                                            <option value="{{grupo.id}}">{{grupo}} - {{grupo.curso}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                
                                <!-- Maestro input-->
                                <div class="form-group" id="maestroSeleccionado">
                                    <label class="col-md-3 control-label" for="maestro">Maestro</label>
                                    <div class="col-md-9">
                                        <select id="maestroId" name="maestroId" class="form-control">
                                            {% for maestro in registros.maestros %}
                                            <option value="{{maestro.id}}">{{maestro.nombreCompleto}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                        
                                <!-- Alumno input-->
                                <div class="form-group" id="alumnoSeleccionado">
                                    <label class="col-md-3 control-label" for="alumno">Alumno</label>
                                    <div class="col-md-9">
                                        <select id="alumnoId" name="alumnoId" class="form-control">
                                            {% for alumno in registros.alumnos %}
                                            <option value="{{alumno.id}}">{{alumno.identificacion}} - {{alumno.nombreCompleto}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>        
                                
                                <!-- year input-->
                                <div class="form-group" id="yearSeleccionado">
                                    <label class="col-md-3 control-label" for="year">Año</label>
                                    <div class="col-md-9">
                                        <select id="year" name="year" class="form-control">
                                            {% for year in range(2014, 2020, 1) %}
                                            <option value="{{year}}">{{year}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>        

                                <!-- Form actions -->
                                <div class="form-group">
                                    <div class="col-md-12 widget-right">
                                        <button id="enviarReporte" type="button" class="btn btn-default btn-md pull-right">Realizar reporte</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

                

            </div><!--/.col-->
            
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><svg class="glyph stroked download"><use xlink:href="#stroked-download"/></svg>Constancias</div>
                    <div class="panel-body">
                        <form id="formConstancias" class="form-horizontal" action="" method="post">
                            <fieldset>
                                <!-- Reporte input-->
                                <div class="form-group" id="tipoConstancia">
                                    <label class="col-md-3 control-label" for="constancias">Tipo</label>
                                    <div class="col-md-9">
                                        <select id="constancias" class="form-control">
                                            <option value="">Seleccionar tipo</option>
                                            <option value="constancia_alumno">Constancia por Alumno</option>
                                            <option value="diploma_alumno">Diploma por Alumno</option>
                                            <option value="diploma_grupo">Diploma por Grupo</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <!-- Alumno de tomo el curso input-->
                                <div class="form-group" id="alumnoConstancia">
                                    <label class="col-md-3 control-label" for="alumnoId_constancia">Alumno</label>
                                    <div class="col-md-9">
                                        <select id="alumnoId_constancia" name="alumnoId" class="form-control">
                                            <option value="">Seleccionar alumno</option>
                                            {% for alumno in registros.alumnos %}
                                            <option value="{{alumno.id}}">{{alumno.identificacion}} - {{alumno.nombreCompleto}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                        
                                <div class="form-group" id="cursos_alumno">
                                    <label class="col-md-3 control-label" for="cursoId_constancia">Curso</label>
                                    <div class="col-md-9">
                                        <select id="cursoId_constancia" name="cursoId" class="form-control">
                                            
                                        </select>
                                    </div>        
                                </div>       
                                
                                <!-- Grupo y Curso input-->
                                <div class="form-group" id="grupoConstancia">
                                    <label class="col-md-3 control-label" for="grupoId_constancia">Curso</label>
                                    <div class="col-md-9">
                                        <select id="grupoId_constancia" name="grupoId" class="form-control">
                                            <option value="">Seleccionar grupo</option>
                                            {% for grupo in registros.grupos %}
                                            <option value="{{grupo.id}}">{{grupo}} - {{grupo.curso}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                        
                                <div id="alumnos_grupo">
                                            
                                </div>        
                                        
                                <!-- Form actions -->
                                <div class="form-group">
                                    <div class="col-md-12 widget-right">
                                        <button id="enviarConstancia" type="button" class="btn btn-default btn-md pull-right">Ejecutar pdf</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

                

            </div><!--/.col-->

            <!--/.col-->
        </div>                    
        <!--div class="row">
            <div class="col-md-6">
                <canvas id="myChart" width="200" height="200"></canvas>
            </div>    
        </div-->
    </div>


{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        (function(){
            $("#cursoSeleccionado,#grupoSeleccionado,#maestroSeleccionado,#alumnoSeleccionado,#yearSeleccionado").hide();
            $("#alumnoConstancia, #grupoConstancia, #cursos_alumno, #alumnos_grupo").hide();
            $("#reporte").on('change',function(){
               $("#cursoSeleccionado,#grupoSeleccionado,#maestroSeleccionado,#alumnoSeleccionado,#yearSeleccionado").hide();
               var valor= $(this).val();
               if(valor==""){
                   $("#formReportes").attr({'action':'','method':'GET'});
               }else if(valor=="Curso"){
                   $("#cursoSeleccionado,#yearSeleccionado").fadeIn('fast');
                   $("#formReportes").attr({'action':'{{path('reporte_por_curso')}}','method':'GET'});
               }else if(valor=="Grupo"){
                   $("#grupoSeleccionado,#yearSeleccionado").fadeIn('fast');
                   $("#formReportes").attr({'action':'{{path('reporte_por_grupo')}}','method':'GET'});
               }else if(valor=="Maestro"){
                   $("#maestroSeleccionado,#yearSeleccionado").fadeIn('fast');
                   $("#formReportes").attr({'action':'{{path('reporte_por_maestro')}}','method':'GET'});
               }else if(valor=="Alumno"){
                   $("#alumnoSeleccionado").fadeIn('fast');
                   $("#formReportes").attr({'action':'{{path('reporte_por_alumno')}}','method':'GET'});
               }
            });
            $("#enviarReporte").on('click',function(){
                $("#formReportes").submit();
            });
            
            $("#constancias").on('change',function(){
                $("#alumnoConstancia, #grupoConstancia, #cursos_alumno, #alumnos_grupo").hide();
                var valor= $(this).val();
                if(valor==""){
                    
                }else if(valor=="constancia_alumno"){
                   $("#alumnoConstancia, #cursos_alumno").fadeIn('fast');
                   $("#alumnoConstancia").val("");
                   $("#cursoId_constancia").empty();
                   $("#formConstancias").attr({'action':'{{path('constancia_por_alumno')}}','method':'GET'});
                }else if(valor=="diploma_alumno"){
                   $("#alumnoConstancia, #cursos_alumno").fadeIn('fast');
                   $("#alumnoConstancia").val("");
                   $("#cursoId_constancia").empty();
                   $("#formConstancias").attr({'action':'{{path('diploma_por_alumno')}}','method':'GET'});
                }else if(valor=="diploma_grupo"){
                   $("#grupoConstancia, #alumnos_grupo").fadeIn('fast');
                   $("#grupoConstancia").val("");
                   $("#alumnos_grupo").text("");
                   $("#formConstancias").attr({'action':'{{path('diplomas_por_grupo')}}','method':'GET'});
                }
            });
            
            $("#alumnoId_constancia").on('change',function(){
				var $select = $('#cursoId_constancia');
                $select.empty();
                var url = '{{path('cursos_alumno')}}';
                var params = "?alumnoId=" + $(this).val();
                $.ajax({
                   'url': url + params,
                   'type': 'GET',
                   'success': function(data){
                       debugger;
                       if(data.status=='Ok'){
                           var grupos = data.grupos;
                           for(var cont=0; grupos.length > cont; cont++ ){
                               var option = $("<option>");
                               option.val(grupos[cont].id)
                                      .html(grupos[cont].nombre);
                               $select.append(option);
                           }
                           $("#cursos_alumno").fadeIn('fast'); 
                       }
                   },
                   'error': function(err){
                       
                   }
                });
            });
            
            
        })();
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
            },
            options: {
                scales: {
                    yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                }
            }
        });
    </script>

{% endblock %}    