{% extends 'UNAMAppBundle::layout.html.twig' %}

{% block content %}
    <div class="col-lg-12">
        <div class="page-header ">
            <h2 class="">Maestro:  &nbsp; {{ entity.nombreCompleto }}</h2>
        </div> 
    <div class="table-responsive">
         <table class="table table-striped ">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.stringStatus }}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                <td>{{ entity.descuento }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ entity.precio | number_format(2,".",",")  }}</td>
            </tr>
            <tr>
                <th>Pago</th>
                <td>{{ entity.pago | number_format(2,".",",")  }}</td>
            </tr>
            <tr>
                <th>Fecha Pago</th>
                <td>{{ entity.fechaPago | date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Registro</th>
                <td>{{ entity.usuarioRegistro }}</td>
            </tr>
            <tr>
                <th>Inscripcion</th>
                <td>{{ entity.usuarioPago }}</td>
            </tr>
            <tr>
                <th>Grupo</th>
                <td>{{ entity.grupo }}</td>
            </tr>
            <tr>
                <th>Alumno</th>
                <td>{{ entity.alumno }}</td>
            </tr>
            
        </tbody>
    </table>

        
        <a  class="btn btn-danger" href="{{ path('pagos') }}">Volver a la lista</a>
    
        <a class="btn  btn-success" href="{{ path('pagos_edit', { 'id': entity.id }) }}"> Editar </a>
   
        {{ form_widget(delete_form.submit, {'label': 'Eliminar' , 'attr': {'class': 'btn btn-danger'}}) }}   

    
    </div>
    </div>
{% endblock %}
