{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Pago</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                <td>{{ entity.descuento }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ entity.precio }}</td>
            </tr>
            <tr>
                <th>Pago</th>
                <td>{{ entity.pago }}</td>
            </tr>
            <tr>
                <th>Fechapago</th>
                <td>{{ entity.fechaPago|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Usuarioregistro</th>
                <td>{{ entity.usuarioRegistro }}</td>
            </tr>
            <tr>
                <th>Usuariopago</th>
                <td>{{ entity.usuarioPago }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pagos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('pagos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
