{% extends 'UNAMAppBundle::layout.html.twig' %}

{% block navegacion %}
	<ol class="breadcrumb">
		<li><a href="{{path('homepage')}}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
		<li><a href="{{path('alumnos')}}"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg></a> Alumnos </li>
	</ol>
{% endblock %}

{% block content -%}
    <div class='col-lg-5 col-lg-offset-3'>
        <h2>Editar alumno: {{entity.nombreCompleto}} </h2>
        <br>
        {{ form_start(edit_form,{'attr':{'role': 'form'}}) }}
        <div class='form-group'>
            {{ form_label(edit_form.nombre) }}
            {{ form_widget(edit_form.nombre ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.nombre)}}</span>
        </div>

        <div class='form-group'>
            {{ form_label(edit_form.apellidoPadre) }}
            {{ form_widget(edit_form.apellidoPadre ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.apellidoPadre)}}</span>
        </div> 

        <div class='form-group'>
            {{ form_label(edit_form.apellidoMadre) }}
            {{ form_widget(edit_form.apellidoMadre ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.apellidoMadre)}}</span>
        </div>
        
        <div class='form-group'>
            {{ form_label(edit_form.file) }}
            {{ form_widget(edit_form.file ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.file)}}</span>
        </div>

        <div class='form-group'>
            {{ form_label(edit_form.email) }}
            {{ form_widget(edit_form.email ,{ 'attr': {'class' : 'form-control'}} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.email)}}</span>
        </div> 

        <div class='form-group'>
            {{ form_label(edit_form.domicilio) }}
            {{ form_widget(edit_form.domicilio ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.domicilio)}}</span>
        </div> 
        <div class='form-group'>
            {{ form_label(edit_form.identificacion) }}
            {{ form_widget(edit_form.identificacion ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.identificacion)}}</span>
        </div> 
        <br/>
        <div class="col-lg-12">
            {{ form_widget(edit_form.submit, {'label': 'Actualizar alumno' , 'attr': {'class': 'btn btn-primary'}}) }}
            <a class="btn btn-success" href="{{ path('alumnos') }}">
                Ver Lista Completa
            </a>
            <button id="eliminaRegistro" class="btn btn-danger">
                Eliminar
            </button>   
        </div>
        {{ form_end(edit_form) }}
        <form id="formEliminar" action="{{ path('alumnos_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
        </form>
    </div>
    <br>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        (function(){
            $("#eliminaRegistro").on('click',function(){
                $("#formEliminar").submit();
            });
        })();
    </script>
{% endblock %}    

