{% extends 'UNAMAppBundle::layout.html.twig' %}

{% block navegacion %}
	<ol class="breadcrumb">
		<li><a href="{{path('homepage')}}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
		<li><a href="{{path('alumnos')}}"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg></a> Alumnos </li>
	</ol>
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    
{% endblock %}

{% block content -%}
    <div class='col-lg-5 col-lg-offset-3'>
        <h2>Editar alumno: {{entity.nombreCompleto}} </h2>
        <br>
        {{ form_start(edit_form,{'attr':{'role': 'form'}}) }}
        <div class='form-group'>
            {{ form_label(edit_form.identificacion) }}
            {{ form_widget(edit_form.identificacion ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.identificacion)}}</span>
        </div> 
        <div class='form-group'>
            {{ form_label(edit_form.nombre) }}
            {{ form_widget(edit_form.nombre ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.nombre)}}</span>
        </div>

        <div class='form-group'>
            {{ form_label(edit_form.apellidoPadre) }}
            {{ form_widget(edit_form.apellidoPadre ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.apellidoPadre)}}</span>
        </div> 

        <div class='form-group'>
            {{ form_label(edit_form.apellidoMadre) }}
            {{ form_widget(edit_form.apellidoMadre ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.apellidoMadre)}}</span>
        </div>
        
        <div class='form-group'>
            {{ form_label(edit_form.file) }}
            {{ form_widget(edit_form.file ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.file)}}</span>
        </div>
        
        <div class='form-group'>
            {{ form_label(edit_form.telefono) }}
            {{ form_widget(edit_form.telefono ,{ 'attr': {'class' : 'form-control'}} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.telefono)}}</span>
        </div>
        
        <div class='form-group'>
            {{ form_label(edit_form.email) }}
            {{ form_widget(edit_form.email ,{ 'attr': {'class' : 'form-control'}} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.email)}}</span>
        </div>
        
        <div class='form-group'>
            {{ form_label(edit_form.fechaInscripcion) }}
            {{ form_widget(edit_form.fechaInscripcion ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.fechaInscripcion)}}</span>
        </div>
        
        <div class='form-group'>
            {{ form_label(edit_form.isBeca) }}
            {{ form_widget(edit_form.isBeca ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.isBeca)}}</span>
        </div>
        
        <div class='form-group'>
            {{ form_label(edit_form.ocupacion) }}
            {{ form_widget(edit_form.ocupacion ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.ocupacion)}}</span>
        </div>
        
        <div class='form-group'>
            {{ form_label(edit_form.comoSeEntero) }}
            {{ form_widget(edit_form.comoSeEntero ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.comoSeEntero)}}</span>
        </div>

        <div class='form-group'>
            {{ form_label(edit_form.domicilio) }}
            {{ form_widget(edit_form.domicilio ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.domicilio)}}</span>
        </div> 

        <br/>
        <div class="col-lg-12">
            {{ form_widget(edit_form.submit, {'label': 'Actualizar alumno' , 'attr': {'class': 'btn btn-primary'}}) }}
            <a class="btn btn-success" href="{{ path('alumnos') }}">
                Ver Lista Completa
            </a>
            <button id="eliminaRegistro" class="btn btn-danger">
                Eliminar
            </button>   
        </div>
        {{ form_end(edit_form) }}
        <form id="formEliminar" action="{{ path('alumnos_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
        </form>
    </div>
    <br>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        (function(){
            $("#eliminaRegistro").on('click',function(){
                $("#formEliminar").submit();
            });
        })();
    </script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/unamapp/js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript">
      var ocupaciones = [
          {% for ocupacion in ocupaciones %}
             '{{ocupacion | upper}}'     
            {% if loop.index != loop.last %} , {% endif %} 
          {% endfor %}
      ];
      
      var como_se_enteros = [
          {% for ocupacion in como_se_enteros %}
             '{{ocupacion | upper}}'     
            {% if loop.index != loop.last %} , {% endif %} 
          {% endfor %}
      ];
        
      (function(){
            $('#unam_appbundle_alumno_fechaInscripcion').datepicker({
                format: 'yyyy-mm-dd'
            });
            $('#unam_appbundle_alumno_ocupacion').autocomplete({
                source: ocupaciones
            });
            $('#unam_appbundle_alumno_comoSeEntero').autocomplete({
                source: como_se_enteros
            });
      })();
    </script>
{% endblock %} 

