{% extends 'UNAMAppBundle::layout.html.twig' %}

{% block navegacion %}
	<ol class="breadcrumb">
		<li><a href="{{path('homepage')}}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
		<li><a href="{{path('maestros')}}"><svg class="glyph stroked female user"><use xlink:href="#stroked-female-user"/></svg></a> Maestros </li>
	</ol>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="page-header ">
            <h2 class="">Maestro:  &nbsp; {{ entity.nombreCompleto }}</h2>
        </div> 
    <div class="table-responsive">
         <table class="table table-striped ">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Ape. Paterno</th>
                <td>{{ entity.apellidoPaterno }}</td>
            </tr>
            <tr>
                <th>Ape. Materno</th>
                <td>{{ entity.apellidoMaterno }}</td>
            </tr>
        </tbody>
    </table>

        
        <a  class="btn btn-danger" href="{{ path('maestros') }}">Volver a la lista</a>
    
        <a class="btn  btn-success" href="{{ path('maestros_edit', { 'id': entity.id }) }}"> Editar </a>
   
        {{ form_widget(delete_form.submit, {'label': 'Eliminar' , 'attr': {'class': 'btn btn-danger'}}) }}   

    
    </div>
    </div>
{% endblock %}
