{% extends 'UNAMAppBundle::layout.html.twig' %}

{% block content %}
    <div class="col-lg-12">
        <div class="page-header ">
            <h2 class="">Precio</h2>
        </div> 
    <div class="table-responsive">
         <table class="table table-striped ">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ entity.precio | number_format(2,".",",")  }}</td>
            </tr>
            <tr>
                <th>Fecha inicial</th>
                <td>{{ entity.fechaInicio | date('d-m-Y')  }}</td>
            </tr>
            <tr>
                <th>Fecha final</th>
                <td>{{ entity.fechaFinal | date('d-m-Y')  }}</td>
            </tr>
        </tbody>
    </table>

        
        <a  class="btn btn-danger" href="{{ path('precios') }}">Volver a la lista</a>
    
        <a class="btn  btn-success" href="{{ path('precios_edit', { 'id': entity.id }) }}"> Editar </a>
   
        {{ form_widget(delete_form.submit, {'label': 'Eliminar' , 'attr': {'class': 'btn btn-danger'}}) }}   

    
    </div>
    </div>
{% endblock %}
