{% extends 'UNAMAppBundle::layout.html.twig' %}

{% block content -%}
    <div class='col-lg-5 col-lg-offset-3'>
        <h2>Editar nivel: {{entity.nivel}} </h2>
        <br>
        {{ form_start(edit_form,{'attr':{'role': 'form'}}) }}
        <div class='form-group'>
            {{ form_label(edit_form.nivel) }}
            {{ form_widget(edit_form.nivel ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.nivel)}}</span>
        </div>
        <br>   
        <div class="col-lg-12">
            {{ form_widget(edit_form.submit, {'label': 'Actualizar nivel' , 'attr': {'class': 'btn btn-primary'}}) }}
            <a class="btn btn-danger" href="{{ path('niveles') }}">
                Ver Lista Completa
            </a>
            {{ form_widget(delete_form.submit, {'label': 'Eliminar' , 'attr': {'class': 'btn btn-danger'}}) }}   
        </div>
        {{ form_end(edit_form) }}
    </div>
    <br>
{% endblock %}
