{% extends 'UNAMAppBundle::layout.html.twig' %}

{% block content -%}
   
        
    
    
    <div class='col-lg-5 col-lg-offset-3'>
        <h2>Agregar Nuevo Curso</h2>
        <br>
    {{ form_start(form,{'attr':{'role': 'form'}}) }}
    
    <div class='form-group'>
            {{ form_label(form.nombreCurso) }}
            {{ form_widget(form.nombreCurso ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(form.nombreCurso)}}</span>
        </div>

        <div class='form-group'>
            {{ form_label(form.nota) }}
            {{ form_widget(form.nota ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(form.nota)}}</span>
        </div> 

        <div class='form-group'>
            {{ form_label(form.isIngles) }}
            {{ form_widget(form.isIngles ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(form.isIngles)}}</span>
        </div>
        
        <div class='form-group'>
            {{ form_label(form.nivel) }}
            {{ form_widget(form.nivel ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(form.nivel)}}</span>
        </div> 
        <div class='form-group'>
            {{ form_label(form.precio) }}
            {{ form_widget(form.precio ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(form.precio)}}</span>
        </div> 

        <br>
    <div class="col-lg-12">
        {{ form_widget(form.submit, {'label': 'Agregar curso' , 'attr': {'class': 'btn btn-primary'}}) }}
        <a class="btn btn-danger" href="{{ path('cursos') }}">
            Ver Lista Completa
        </a>
    </div>            
        {{ form_end(form) }}
        
        
    
    </div>
   

{% endblock %}
