{% extends 'UNAMAppBundle::layout.html.twig' %}

{% block content -%}
    <div class='col-lg-5 col-lg-offset-3'>
        <h2>Editar grupo: {{entity.grupo}} </h2>
        <br>
        {{ form_start(edit_form,{'attr':{'role': 'form'}}) }}
        <div class='form-group'>
            {{ form_label(edit_form.grupo) }}
            {{ form_widget(edit_form.grupo ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.grupo)}}</span>
        </div>

        <div class='form-group'>
            {{ form_label(edit_form.fechaInicio) }}
            {{ form_widget(edit_form.fechaInicio ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.fechaInicio)}}</span>
        </div> 

        <div class='form-group'>
            {{ form_label(edit_form.fechaFin) }}
            {{ form_widget(edit_form.fechaFin ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.fechaFin)}}</span>
        </div>
        
        <div class='form-group'>
            {{ form_label(edit_form.descripcion) }}
            {{ form_widget(edit_form.descripcion ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.descripcion)}}</span>
        </div> 
        <div class='form-group'>
            {{ form_label(edit_form.horario) }}
            {{ form_widget(edit_form.horario ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.horario)}}</span>
        </div> 
        <div class='form-group'>
            {{ form_label(edit_form.maestro) }}
            {{ form_widget(edit_form.maestro ,{ 'attr': {'class' : 'form-control' }} ) }}
            <span class='text-danger'>{{ form_errors(edit_form.maestro)}}</span>
        </div>        
        <br>   
        <div class="col-lg-12">
            {{ form_widget(edit_form.submit, {'label': 'Actualizar grupo' , 'attr': {'class': 'btn btn-primary'}}) }}
            <a class="btn btn-danger" href="{{ path('grupos') }}">
                Ver Lista Completa
            </a>
            {{ form_widget(delete_form.submit, {'label': 'Eliminar' , 'attr': {'class': 'btn btn-danger'}}) }}   
        </div>
        {{ form_end(edit_form) }}
    </div>
    <br>
{% endblock %}
